<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
>

    <!--加载外部资源properties文件-->
    <context:property-placeholder location="classpath:db.properties" />

    <!--
        使用这个需要添加以下:
            命名空间
            xmlns:context="http://www.springframework.org/schema/context"
            命名空间xsd文件
            xsi:schemaLocation="http://www.springframework.org/schema/context/spring-context.xsd"
    -->

    <!--配置自动扫描的包: 需要加入aop对应的jar包-->
    <context:component-scan base-package="com.imooc" />

    <!--配置数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <!--<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />-->
        <!--<property name="url" value="jdbc:mysql://localhost:3306/spring_data?useSSL=false" />-->
        <!--<property name="username" value="root" />-->
        <!--<property name="password" value="fullstack" />-->

        <!--结合 context:property-placrholder 外部资源-->
        <property name="driverClassName" value="${jdbc.driverClass}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="studentDAO" class="com.imooc.dao.StudentDAOSpringJdbcImpl">
        <!--name的值 是 根据 对应的bean的 setter方法的: setJdbcTemplate-->
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
</beans>

<!--
    慕课网: https://www.imooc.com/video/3665
    Bean容器初始化
        基础: 两个包
            - org
-->